.register {
  background-color: #f0a04b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .register-form {
    z-index: 15;
    .logo {
      color: #4d455d;
    }
    .title {
      color: #4d455d;
    }
    background-color: #fefbe9;
    padding: 1rem 6rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 0.5rem;
        border: none;
        border-bottom: 2px solid #e1eedd;
        &::placeholder {
          color: #7db9b6;
        }
        background-color: #fefbe9;
        &:nth-child(4) {
          border: none;
        }
      }
      *:focus {
        outline: none;
        border-bottom: 2px solid #7db9b6;
      }

      button {
        background-color: #183a1d;
        border-radius: 2px;
        font-weight: bold;
        color: white;
        border: none;
        padding: 6px;
      }
      #file {
        display: none;
      }
      label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #4d455d;
        cursor: pointer;
      }
    }
    p {
      padding-top: 10px;
    }
  }
}
//--------------------------------- bottom style
.custom-shape-divider-bottom-1678517062 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1678517062 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
}

.custom-shape-divider-bottom-1678517062 .shape-fill {
  // fill: #F5E9CF;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}
//----------------------  top style
.custom-shape-divider-top-1678517614 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1678517614 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 92px;
}

.custom-shape-divider-top-1678517614 .shape-fill {
  // fill: #E1EEDD;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

//---------------- color style
@-webkit-keyframes color-change-2x {
  0% {
    fill: rgb(245, 244, 187);
  }
  100% {
    fill: #ceddca;
  }
}
@keyframes color-change-2x {
  0% {
    fill: rgb(245, 244, 187);
  }
  100% {
    fill: #ceddca;
  }
}

@media screen and (max-width: 768px) {
    .custom-shape-divider-bottom-1678517062{
        display: none;
    }
  
}
